<%- include('header'); %>
<%- include('hero'); %>
<%- include('about'); %>

<%- include('testimonials'); %>
<%- include('gallery'); %>
<%- include('faq'); %>



  

  <%- include('footer') %>
</body>
</html>